<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.fuzamei.mapperInterface.ManagerMapper">

    <select id="selectAllManager" resultType="User">
        select u.user_id,u.username
        from user u 
    </select>
    
    <select id="findByName" parameterType="String" resultType="User">
        select u.user_id,u.username,u.email
        from user u
        where username=#{name} 
    </select>

	<insert id="insertManager" parameterType="com.fuzamei.entity.User">
		insert into
		user(username,
			email,
			phone)
		values
		(#{username},
			#{email},
			#{phone})
	</insert>
	
	<update id="updateManager" parameterType="com.fuzamei.entity.User">
	update user
	set email=#{email},phone=#{phone}
	where username =#{username}	
	</update>


</mapper>